/*-----------------------------------------
 * Corps
 *-----------------------------------------*/
body
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #333333;
  background-color: #FFFFFF;
}

/*-----------------------------------------
 * Balises Html
 *-----------------------------------------*/
h1
{
  margin:0 0;
  padding:0 0;
  color: #FFFFFF;
  background-color: #002542;
  width: 100%;
  font-size: 20pt;
  font-variant: small-caps;
  font-weight: bold;
}
h2
{
  background-color: #DAE8FF;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}
h3
{
  border-top: 1px solid #FFDEAD;
  font-size: 10pt;
}
a
{
  color: #002542;
  text-decoration: none;
}
a:link, a:visited
{
  color: #002542;
  text-decoration : none;
}
a:hover
{
  color: #134C82;
  text-decoration : none;
}

/*============================================================================================
 * LE BANDEAU
 *============================================================================================*/

/*-----------------------------------------
 * Corps du bandeau
 *-----------------------------------------*/
div.bandeau,body.bandeau
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #333333;
  background-color: #8EAFCE;
}

/*-----------------------------------------
 * Titre dans le bandeau
 *-----------------------------------------*/
.titredoc
{
  width: 100%;
  font-size: 20pt;
  color: White;
  background-color: #002542;
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
  border-left-color: #ffffff;
  border-left-style: solid;
  border-left-width: 1px;
}

.bandeau h2 a,
.bandeau h2 a:link,
.bandeau h2 a:visited
{
  background-color: #DAE8FF;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}
.bandeau h2 a:hover
{
  color: #000;
  background-color: #DAE8FF;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}

hr.bandeau {
  border: thin solid #ffffff;
}

/*============================================================================================
 * LE MENU
 *============================================================================================*/

/*-----------------------------------------
 * Corps du menu
 *-----------------------------------------*/
body.menu
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #333333;
  background-color: #8EAFCE;
  margin-right: 1px;
}

hr.menu {
  border: thin solid #ffffff;
}


/*============================================================================================
 * L'INDEX
 *============================================================================================*/

/*-----------------------------------------
 * Corps de l'index
 *-----------------------------------------*/
body.index
{
  font-family: verdana,arial;
  font-size: 8pt;
  color: #333333;
  background-color: #8EAFCE;
  margin-right: 4px;
  margin-left: 1px;
}
/*-----------------------------------------
 * Corps du menu action
 *-----------------------------------------* /
body.action
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #002542;
  background-color: #5090C8;
  margin-left: 1px;
  margin-right: 1px;
}
*/
.index h2
{
  background-color: #DAE8FF;
  margin:0 0;
  padding:0 0;
  font-size: 10pt;
  text-align: right;
}

/*============================================================================================
 * LA FICHE
 *============================================================================================*/

body.fiche,body.stats
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #333333;
  background-color: #FFFFFF;
}

hr.fiche {
  border: thin solid #002542;
}

h1.filigrane {
  background-color: #FF0000;
  margin:0 0;
  padding:0 0;
  color: #FFFFFF;
  background-color: #FF0000;
  width: 100%;
  font-size: 20pt;
  font-variant: small-caps;
  font-weight: bold;
}

/*========================================================================
 * zone rapport_description
 *-----------------------------------------*/
.rd
{
  background-color: #5090C8;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #002542;
}
/*-----------------------------------------
 * Item d'action
 *-----------------------------------------*/
.item
{
  font-style: italic;
  font-size: small;
  width: 50px;
}
/*-----------------------------------------
 * Libelle d'action
 *-----------------------------------------*/
.action
{
  color: #ffffff;
  font-style: normal;
  font-size: 10pt;
}
/*-----------------------------------------
 * Commande, fichiers
 *-----------------------------------------*/
.tt
{
  font-family: courier;
}
/*========================================================================
 * zone rapport_contenu
 *-----------------------------------------*/
.rc
{
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #002542;
}
/*-----------------------------------------
 * Zone d'identification des actions
 * et condition
 *-----------------------------------------*/
.condition
{
  background-color: #C0C0C0;
  font-size: small;
}
/*========================================================================
 * zone rapport_aTester
 *-----------------------------------------*/
.rt
{
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #002542;
}
.rttest
{
  background-color: #ffffff;
  font-size: 8pt;
  text-align: left;
  width: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: #002542;
}
.rtmsg
{
  background-color: #ffffff;
  text-align: left;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.rtmsg_pv
{
  background-color: #ffffff;
  text-align: left;
  border-width: 0px;
}
.rtmsgnorm_pv
{
  background-color: #ffffff;
  text-align: left;
  border-width: 0px;
}
.rtmsgtt
{
  font-family: courier;
  background-color: #ffffff;
  text-align: left;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.rtmsgtt_pv
{
  font-family: courier;
  background-color: #ffffff;
  text-align: left;
  border-width: 0px;
}
.rtretour
{
  background-color: #ffffff;
  font-size: 8pt;
  text-align: left;
  width: 120px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.rtres
{
  background-color: #ffffff;
  width: 40px;
  text-align: center;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.bilan
{
  font-size:8pt;
  text-align: left;
}
/*-----------------------------------------
 * Couleurs des bilans
 *-----------------------------------------*/
.correct
{
  font-weight: bold;
  color: white;
  background: Green;
}
.incorrect
{
  font-weight: bold;
  color: white;
  background: Red;
}
.suspendu
{
  font-weight: bold;
  color: white;
  background: #B47F7F;
}
.avalider,.tobevalidated
{
  font-weight: bold;
  color: white;
  background: #FF8C00;
}
.nonteste,.nottested
{
  font-weight: bold;
  color: white;
  background: gray;
}
.avecreserve,.withreservation
{
  font-weight: bold;
  color: white;
  background: Cyan;
}
/*========================================================================
 * Bilan statistique
*-----------------------------------------*/
table.stats td
{
  font-size: 9pt;
}
/*========================================================================
 * Matrice de tracabilite
 *-----------------------------------------*/
.matTrac
{
  width: 100%;
}
.matTrac th
{
  width: auto;
  background-color: #5090C8;
  border-width: 1px;
  border-style: solid;
  border-color: #002542;
}
.matTrac td
{
  width: auto;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #002542;
}
.small
{
  font-size: 7pt;
}
.scn
{
  background-color: #9ECBF3;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #002542;
  font-weight: bold;
}

/*========================================================================
 * Info bulle actions
 * ------------------*/
.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
  cursor: help;
}

/* on génère un élément :after lors du survol et du focus :*/
.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne */
}

/*========================================================================
.collapsible {
/*  background-color: #777;*/
/*  color: white;*/
  cursor: pointer;
/*  padding: 18px;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
/*  font-size: 15px;*/
}

.active, .collapsible:hover {
/*  background-color: #555;*/
}

.content {
/*  padding: 0 18px;*/
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: courier;
}
/*========================================================================
 * fin */
