/*-----------------------------------------
 * Corps de fiche
 *-----------------------------------------*/
body
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #DDFFFF;
  background-color: #2F4F4F;
}

/*-----------------------------------------
 * Balises Html
 *-----------------------------------------*/
h1
{
  margin:0 0;
  padding:0 0;
  color: Black;
  background-color: Gray;
  width: 100%;
  font-size: 18pt;
  font-variant: small-caps;
  font-weight: bold;
}
h2
{
  color: #FFFFCC;
  background-color: #2F4F4F;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}
h3
{
  border-top: 1px solid #FFDEAD;
  font-size: 10pt;
}
a
{
  font-style: normal;
  font-size: 10pt;
  color: #FFFFCC;
  text-decoration: none;
}
a:link, a:visited
{
}
a:hover
{
  color: #DAE8FF;
  text-decoration : none;
}

/*============================================================================================
 * LE BANDEAU
 *============================================================================================*/

/*-----------------------------------------
 * Corps du bandeau
 *-----------------------------------------*/
div.bandeau,body.bandeau
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #DDFFFF;
  background: #2F4F4F;
}

/*-----------------------------------------
 * Titre dans le bandeau
 *-----------------------------------------*/
.titredoc
{
  width: 100%;
  font-size: 20pt;
  color: White;
  background-color: Gray;
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 1px solid #FFDEAD;
  border-left-color: #FFDEAD;
  border-left-style: solid;
  border-left-width: 1px;
}

.bandeau h2 a,
.bandeau h2 a:link,
.bandeau h2 a:visited
{
  color: #FFFFCC;
  background-color: #2F4F4F;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}
.bandeau h2 a:hover
{
  color: #FFFFCC;
  background-color: #2F4F4F;
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}

hr.bandeau {
  border: thin solid #F4A460;
}

/*============================================================================================
 * LE MENU
 *============================================================================================*/

/*-----------------------------------------
 * Corps du menu
 *-----------------------------------------*/
body.menu
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #DDFFFF;
  background-color: #2F4F4F;
  margin-right: 1px;
}

hr.menu {
  border: thin solid #F4A460;
}


/*============================================================================================
 * L'INDEX
 *============================================================================================*/

/*-----------------------------------------
 * Corps de l'index
 *-----------------------------------------*/
body.index
{
  font-family: verdana,arial;
  font-size: 8pt;
  color: #002542;
  background-color: #2F4F4F;
  margin-right: 4px;
  margin-left: 1px;
}
/*-----------------------------------------
 * Corps du menu action
 *-----------------------------------------* /
body.action
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #002542;
  background-color: #5090C8;
  margin-left: 1px;
  margin-right: 1px;
}
*/
.index h2
{
  color: #FFFFCC;
  background-color: #2F4F4F;
  margin:0 0;
  padding:0 0;
  font-size: 10pt;
  text-align: right;
}

/*============================================================================================
 * LA FICHE
 *============================================================================================*/

body.fiche,body.stats
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: #DDFFFF;
  background-color: #2F4F4F;
}

hr.fiche {
  border: thin solid #F4A460;
}

h1.filigrane {
  background-color: #FF0000;
  margin:0 0;
  padding:0 0;
  color: #FFFFFF;
  background-color: #FF0000;
  width: 100%;
  font-size: 20pt;
  font-variant: small-caps;
  font-weight: bold;
}

/*========================================================================
 * zone rapport_description
 *-----------------------------------------*/
.rd
{
  color: #000000;
  background-color: #C0C0C0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #002542;
}
/*-----------------------------------------
 * Item d'action
 *-----------------------------------------*/
.item
{
  color: #EEE8AA;
  font-style: italic;
  font-size: x-small;
  width: 50px;
}
/*-----------------------------------------
 * Libelle d'action
 *-----------------------------------------*/
.action
{
  color: #000000;
  background-color: #C0C0C0;
  font-style: normal;
  font-size: 10pt;
}
/*-----------------------------------------
 * Commande, fichiers
 *-----------------------------------------*/
.tt
{
  font-family: courier;
}
/*========================================================================
 * zone rapport_contenu
 *-----------------------------------------*/
.rc
{
  background-color: #2F4F4F;
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #002542;
}
/*-----------------------------------------
 * Zone d'identification des actions
 * et condition
 *-----------------------------------------*/
.condition
{
  background-color: #C0C0C0;
  font-size: x-small;
}
/*========================================================================
 * zone rapport_aTester
 *-----------------------------------------*/
.rt
{
  background-color: Gray;
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #002542;
}
.rttest
{
  background-color: Gray;
  font-size: 8pt;
  text-align: left;
  width: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: #002542;
}
.rtmsg
{
  background-color: Gray;
  text-align: left;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.rtmsg_pv
{
  background-color: Gray;
  text-align: left;
  border-width: 0px;
}
.rtretour
{
  background-color: Gray;
  font-size: 8pt;
  text-align: left;
  width: 120px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.rtres
{
  background-color: Gray;
  width: 40px;
  text-align: center;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #002542;
}
.bilan
{
  font-size:10pt;
  text-align: left;
}
/*-----------------------------------------
 * Couleurs des bilans
 *-----------------------------------------*/
.correct
{
  font-weight: bold;
  color: white;
  background: Green;
}
.incorrect
{
  font-weight: bold;
  color: white;
  background: Red;
}
.avalider
{
  font-weight: bold;
  color: white;
  background: #FF8C00;
}
.nonteste
{
  font-weight: bold;
  color: white;
  background: gray;
}
.avecreserve
{
  font-weight: bold;
  color: white;
  background: Cyan;
}
/*========================================================================
 * Bilan statistique
*-----------------------------------------*/
table.stats td
{
  font-size: 9pt;
}
/*========================================================================
 * Matrice de tracabilite
 *-----------------------------------------*/
.matTrac
{
  width: 100%;
}
.matTrac th
{
  width: auto;
  color: Black;
  background-color: Gray;
  border-width: 1px;
  border-style: solid;
}
.matTrac td
{
  width: auto;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: ##FFFFCC;
}
.small
{
  font-size: 7pt;
}
/*========================================================================
 * fin */
