/*-----------------------------------------
 *  Palette de couleurs
 *-----------------------------------------*/
html{
--fond-1 : #8eafce; /* fond général */
--fond-2 : #8598ad; /* fond menu */
--fond-3 : #ffffff; /* fond fiche */
--fond-4 : #c0c0c0; /* fond index/condition */
--fond-5 : #ffffff; /* fond action */
--fond-6 : #f1f1f1; /* fond collapse */
--fond-7 : #cad9e6; /* fond bouton */

--texte-1 : #ffffff;
--texte-1hover : #4d4d4d; /* couleur hover dans le menu */
--texte-2 : #333333;

--textetitre-1 : #f2e7b2;
--fondtitre-1 : #47422b;

--textetitre-2 : #f2e7b2;
--fondtitre-2 : #1d252e;

--textetitre-3 : #1d252e;
--fondtitre-3 : #8eafce;

--textefiligrane : #ffc5b6;
--fondfiligrane : #9c6f64;

--textetitredoc : #ffffff;
--fondtitredoc : #002542;

--hr : #ffffff;
}

/*============================================================================================
 * LE BANDEAU
 *============================================================================================*/

/*-----------------------------------------
 * Corps du bandeau
 *-----------------------------------------*/
div.bandeau,body.bandeau
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: var(--texte-1);
  background-color: var(--fond-1);
}

/*-----------------------------------------
 * Titre dans le bandeau
 *-----------------------------------------*/
.titredoc
{
  width: 100%;
  font-size: 20pt;
  color: var(--textetitredoc);
  background-color: var(--fondtitredoc);
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 1px solid var(--fond-3);
  border-left-color: var(--fond-3);
  border-left-style: solid;
  border-left-width: 1px;
}
/*-----------------------------------------
 * Resultat dans le bandeau
 *-----------------------------------------*/
.bandeau h2 {
  background-color: var(--fond-3);
  color: var(--fond-1);
  margin:0 0;
  padding:0 0;
  font-size: 12pt;
}
.bandeau hr {
  border: thin solid var(--hr);
}
.bandeau p {
  margin:0 0;
  padding:0 0;
  font-size: 10pt;
}

/*============================================================================================
 * LE MENU
 *============================================================================================*/
body.menu
{
  font-family: verdana,arial;
  font-size: 8pt;
  color: var(--texte-1);
  background-color: var(--fond-1);
  margin-right: 1px;
}
.menu h2
{
  margin:0 0;
  padding:0 0;
  font-variant: small-caps;
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1);
  font-size: 14pt;
}
.menu h3
{
  margin:0 0;
  padding:0 0;
  color: var(--texte-1);
  background-color: var(--fond-1);
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: var(--fondtitre-1);
  font-size: 10pt;
}
.menu table
{
  color: var(--texte-1);
  background-color: var(--fond-2);
  width: 100%;
}
.menu a,.menu a:link,.menu a:visited
{
  color: var(--texte-1);
  background-color: var(--fond-2);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.menu a:hover
{
  color: var(--texte-1hover);
  background-color: var(--fond-2);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}

.menu hr {
  border: thin solid var(--hr);
}

/*============================================================================================
 * LES BILANS
 *============================================================================================*/
body.bilans
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: var(--texte-1);
  background-color: var(--fond-1);
  margin-right: 1px;
}

.bilans a,.bilans a:link,.bilans a:visited {
  color: var(--texte-1);
  background-color: var(--fond-1);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.bilans a:hover {
  color: var(--texte-1hover);
  background-color: var(--fond-1);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.bilans h1
{
  font-variant: small-caps;
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1);
}
.bilans h2
{
  font-variant: small-caps;
  color: var(--textetitre-2);
  background-color: var(--fondtitre-2);
}
.bilans h3
{
  color: var(--textetitre-3);
  background-color: var(--fondtitre-3);
}

/*============================================================================================
 * L'INDEX
 *============================================================================================*/
body.index
{
  font-family: verdana,arial;
  font-size: 8pt;
  color: var(--texte-1);
  background-color: var(--fond-2);
  margin-right: 4px;
  margin-left: 1px;
}
.index a,.index a:link,.index a:visited {
  color: var(--texte-1);
  background-color: var(--fond-2);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.index a:hover {
  color: var(--texte-1hover);
  background-color: var(--fond-2);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.index h2
{
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1);
  font-size: 10pt;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.index::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.index {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*============================================================================================
 * LA FICHE
 *============================================================================================*/
body.fiches,body.stats
{
  font-family: verdana,arial;
  font-size: 10pt;
  color: var(--texte-2);
  background-color: var(--fond-3);
}

.fiches h1 {
  background-color: var(--fond-2);
  color: var(--texte-1);

}
.fiches hr {
  border: thin solid var(--hr);
}

.ft a,.ft a:link,.ft a:visited {
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.ft a:hover {
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.ft{
  color: var(--textetitre-1);
  background-color: var(--fondtitre-1)
}
h1.filigrane {
  background-color: var(--fondfiligrane);
  margin:0 0;
  padding:0 0;
  color: var(--textefiligrane);
  width: 100%;
  font-size: 20pt;
  font-variant: small-caps;
  font-weight: bold;
}

/*========================================================================
 * zone rapport_description
 *-----------------------------------------*/
.rapdescription
{
  background-color: var(--fond-1);
  color: var(--texte-1);
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--fond-2);
}
/*-----------------------------------------
 * Item d'action
 *-----------------------------------------*/
.item
{
  font-style: italic;
  font-size: small;
  width: 50px;
}
/*-----------------------------------------
 * Commande, fichiers
 *-----------------------------------------*/
.tt
{
  font-family: courier;
}
/*========================================================================
 * zone rapport_contenu
 *-----------------------------------------*/
.rapcontenu
{
  background-color: var(--fond-5);
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--fond-2);
}
.rapcontenu a,.rapcontenu a:link,.rapcontenu a:visited {
  color: var(--texte-2);
  background-color: var(--fond-5);
  text-decoration: none;
}
.rapcontenu a:hover {
  color: var(--texte-2);
  background-color: var(--fond-5);
  text-decoration: none;
}
/*-----------------------------------------
 * Zone d'identification des actions
 * et condition
 *-----------------------------------------*/
.condition
{
  background-color: var(--fond-4);
  font-size: small;
}
/*========================================================================
 * zone rapport_aTester
 *-----------------------------------------*/
table.rapetape
{
  color: var(--textetitre-2);
  background-color: var(--fondtitre-2);
  text-align: left;
}
td.rapetape
{
  width: 100%;
}
table.raptester
{
  background-color: var(--fond-0);
  text-align: left;
  width: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--fond-2);
}
.raptester td, .raptester th
{
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: var(--fond-2);
}
td.symbact, th.symbact
{
  width: 20px;
  border-width: 0px;
}
.nobd,.norm_nobd
{
  border-width: 0px;
}
.tt_nobd
{
  font-family: courier;
  border-width: 0px;
}
th.rapretour, td.rapretour
{
  background-color: var(--fond-5);
  font-size: 8pt;
  text-align: left;
  width: 120px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: var(--fond-2);
}
th.rapbilan, td.rapbilan
{
  background-color: var(--fond-5);
  width: 40px;
  text-align: center;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: var(--fond-2);
}
/*-----------------------------------------
 * Couleurs des bilans
 *-----------------------------------------*/
.correct
{
  font-weight: bold;
  color: white;
  background: Green;
}
.incorrect
{
  font-weight: bold;
  color: white;
  background: Red;
}
.suspendu
{
  font-weight: bold;
  color: white;
  background: #B47F7F;
}
.avalider,.tobevalidated
{
  font-weight: bold;
  color: white;
  background: #FF8C00;
}
.nonteste,.nottested
{
  font-weight: bold;
  color: white;
  background: gray;
}
.avecreserve,.withreservation
{
  font-weight: bold;
  color: white;
  background: #800080;
}
/*========================================================================
 * Bilan statistique
*-----------------------------------------*/
table.stats td
{
  font-size: 9pt;
}
/*========================================================================
 * Matrice de tracabilite
 *-----------------------------------------*/
.matTrac
{
  width: 100%;
}
.matTrac th
{
  width: auto;
  background-color: var(--fond-4);
  border-width: 1px;
  border-style: solid;
  border-color: var(--fond-2);
}
.matTrac td
{
  width: auto;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--fond-2);
  color: var(--texte-2);
  background-color: var(--fond-3);
}
.small
{
  font-size: 7pt;
}
td.scn
{
  background-color: var(--fond-2);
  width: 100%;
  border-width: 1px;
  border-style: solid;
  color: var(--texte-1);
  border-color: var(--fond-2);
  font-weight: bold;
}
.matTrac a,.matTrac a:link,.matTrac a:visited {
  color: var(--texte-2);
  background-color: var(--fond-3);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}
.matTrac a:hover {
  color: var(--texte-1);
  background-color: var(--fond-2);
  margin:0 0;
  padding:0 0;
  text-decoration: none;
}

/*========================================================================
 * Bonton de deploiement
 *========================================================================*/
button.collapsible {
    width: 180px;
    border-width: 1px;
    border-style: solid;
    background-color: var(--fond-7);
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
}

.content {
  display: none;
  overflow: hidden;
  color: var(--texte-2);
  background-color: var(--fond-6);
  font-family: courier;
}
/*========================================================================
 * fin */
